:root {
    --primario: #F5E8C7;
    --secundario: #D9D9D9;

    --naranja: #F4A261;
    --azul: #8ECEB3;
    --rosa: #F7CAC9;

    --gris: #4F4F4F;
    --negro: #000000;

    --blanco: #FFFFFF;
    --danger: #FF6B6B;
    --success: #4CAF50;
}

.banner {
    background-image: url(../images/banner1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 45rem;
}